.logo-img {
    width: 320px;
    height: 320px;

}


.left-column {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
    background-color: var(--logo-container);
}

.right-column {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw 2vw;
    width: 50%;
}

@media (max-width: 800px) {
    .left-column {
        width: 100%;
        height: 30vh;
    }

    .right-column {
        width: 100%;
    }

    .logo-img {
        width: 180px;
        height: 180px;
    }
}

.icons-panel {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80vw;
    height: 60vh;
}