.month-picker {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: inherit;

    /*
    select {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        width: 120px;
        height: 40px;
        color: #fff;
        outline: none;
        font-size: inherit;
        cursor: pointer;
        line-height: inherit;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        text-align: center;
        option {
            background-color: var(--secondary-color);
        }
    }
    select::-ms-expand {
        display: none;
    }
    */
} 

/*
.dropdown{
    width: 80px;
    height: 200px;
}

.dropdown-toggle{
    appearance: none;
    background-color: transparent;
    border: none;
    color: #fff;
    position: fixed;
    width: 120px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

.drop-icon{
    text-align: center;
    transform: rotate(180deg);
    transition: 400ms;
}

.dropdown-menu{
    margin-top: 30px;
    height: 140px;
    background-color: var(--secondary-color);
    width: 120px;
    border-radius: 5px;
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dropdown-menu::-webkit-scrollbar {
    display: none;
 }

.dropdown-item{
    width: 96%;
    margin-left: 2%;
    padding: 10px;
    border-bottom: 2px solid black;
    cursor: pointer;

}

.dropdown-item:hover{
    background-color: #08b1cf;
}
*/

