.div-circle {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.input-file {
    visibility: hidden;
}

.profile {
    border-radius: 100%;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    text-align: center;
    background: rgb(153, 27, 27);
}

.icone-circle {
    position: fixed;
    margin-top: 90px;
    margin-left: 100px;


    background: rgb(49, 158, 177);
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    
}

.icone-circle-label{
    height: 2rem;
    width: 2rem;
    position: fixed;
    text-align: center;
    margin-top: 4px;
    font-size: 1.5rem;
}

#titulo {
    margin-top: 7%;
    margin-bottom: 1rem;
    font-weight: 800px;
    font-size: 2rem;
}

.icone-nome-completo {
    background: rgb(133, 133, 130);
    border-radius: 50%;
}

.nome-completo:hover {
    background: rgb(111, 112, 114);
}