.options-container-profile {

    margin-top: 20%;
}

#titulo {
    margin-top: 7%;
    margin-bottom: 1rem;
    font-weight: 800px;
    font-size: 2rem;
}

.profile{
    //border-radius: 100%
    //width: 50%;
    margin-bottom: 8%;
    width: 50%;
    height: 10rem;
}