.list-container {
  width: 100%;
  max-height: 360px;
  padding: 5px;
  overflow-y: auto;
  border-radius: 4px;

  @media screen and (max-height: 900px) {
    max-height: 420px;
  }

  @media screen and (max-height: 800px) {
    max-height: 360px;
  }

  @media screen and (max-height: 667px) {
    max-height: 300px;
  }

  @media screen and (max-height: 654px) {
    max-height: 250px;
  }

  @media screen and (min-height: 900px) {
    max-height: 530px;
  }
}

.list-not-found {
  height: 200px;
  display: flex;
  justify-items: end;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  justify-content: center;
  flex-direction: column;
  color: rgba(255, 196, 0, 0.8);
}

.list-not-found-icon {
  font-size: 80px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
