.list-container {
  width: 100%;
  max-height: 360px;
  padding: 5px;
  overflow-y: auto;

  @media screen and (max-height: 900px) {
    max-height: 420px;
  }

  @media screen and (max-height: 800px) {
    max-height: 360px;
  }

  @media screen and (max-height: 667px) {
    max-height: 300px;
  }

  @media screen and (max-height: 654px) {
    max-height: 250px;
  }

  @media screen and (min-height: 900px) {
    max-height: 530px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}