.list-container {
  width: 100%;
  max-height: 360px;
  padding: 5px;
  overflow-y: auto;

  @media screen and (min-height: 780px) {
    max-height: 400px;
  }

  @media screen and (min-height: 940px) {
    max-height: 550px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}