.reset-password {
    //margin-top: 8%;  
    padding: 0;

}

.icone-reset-password {
    font-size: 40px;
    color: white;
    margin-right: 0.5rem;
    background: rgba(93, 77, 77, 0.947);
    border-radius: 40%;
    margin-left: 0.7rem;    
}

.reset-password:hover {
    background: rgba(215, 118, 43, 0.845);

    .icone-reset-password {
        color: rgba(91, 235, 134, 0.746);
    }
}

h6 {
    font-size: 11px;
    font-weight: 850;
    color: rgba(236, 10, 10, 0.822);
}

h6 {
    font-size: 12px;
    font-weight: 900;
    color: rgba(236, 10, 10, 0.822);
}

.reset-account-modal {
    height: 85%;
    width: 85%;
    margin-bottom: 12%;
    background: #00202f;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.icone-warning-privacy {
    width: 70%;
    height: 70%;
    margin-top: 10%;
}

.div-icone-warning-privacy {
    color: red;
    margin-top: 15%;
    margin-left: 20%;
}

.icone-verificado-privacy {
    width: 40%;
    height: 70%;
    color: green;
}

.icone-verificado-privacy:hover {
    color: yellowgreen;
}

.icone-cancel-privacy {
    width: 40%;
    height: 70%;
    color: red;
    margin-bottom: 5%;
}

.icone-cancel-privacy:hover {
    color: rgb(243, 99, 16);
}

.icones-apagar-conta-privacy {
    margin-top: 20%;
    display: flex;
    margin-left: 10%;

}

// ids

#titulo-modal {
    font-weight: 800;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 10%;
}

#alerta-reset {
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    display: flex;
    font-style: normal;
    text-align: center;
}

//media

@media(max-width:375px) {
    #titulo {        
        font-size: 25px;
        position: fixed;
    }
}

@media(min-width:699px) {
    .reset-account-modal {        
        margin-left: 5%;
        
        .div-icone-warning-privacy {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 35%;
        }

        .icones-apagar-conta-privacy {
            width: 80%;
            justify-content: space-between;
            margin-top: 10%;
        }

        #titulo-modal {
            margin-left: 37%;
        }
    }
}

@media(max-width: 1245px) {
    .reset-account-modal {
        height: 90%;
        width: 90%;
        margin-right: 2%;
        margin-top: 8%;
    }

    .icones-apagar-conta-privacy {
        height: 50%;
        margin-bottom: 20%;
    }

    #alerta-reset {
        flex-direction: column;
        font-size: 15px;
    }
}

@media (min-aspect-ratio: 16/9) and (max-aspect-ratio: 1920/1080) {
    /* Estilos para a proporção da tela entre 16:9 e 1920x1080 */
    /* Adicione aqui os estilos desejados */

}

@media (min-aspect-ratio: 1920/1080) {

    /* Estilos para a proporção da tela maior ou igual a 1920x1080 */
    /* Adicione aqui os estilos desejados */
    .reset-account-modal {
        height: 90%;
        width: 90%;
        margin-right: 3%;
        margin-top: 8%;
    }

    .icones-apagar-conta-privacy {
        height: 50%;
        margin-bottom: 30%;
        height: 30%;
    }

    #alerta-reset {
        flex-direction: column;
        font-size: 15px;
    }
}

@media (max-aspect-ratio: 16/9) {
    /* Estilos para a proporção da tela menor que 16:9 */
    /* Adicione aqui os estilos desejados */

}