.reset-password {
  padding: 0;
}

.icone-reset-password {
  font-size: 40px;
  color: rgb(37, 116, 0);
  margin-right: 0.5rem;
  margin-left: 0.7rem;
}

.reset-password:hover {
  background: rgba(50, 128, 72, 0.746);
}

.icone-reset-account {
  font-size: 40px;
  color: red;
  margin-right: 0.5rem;
  margin-left: 0.7rem;
}

.delete-account-privacy:hover {
  background: rgba(173, 66, 66, 0.596);
}

.reset-account-warn {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(112, 0, 0, 0.822);
}

.delete-account-privacy:hover .reset-account-warn {
  color: red;
}

.reset-account-modal {
  height: 60%;
  width: 80%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icone-warning-privacy {
  font-size: 6rem;
  color: red;
  text-align: center;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-verificado-privacy {
  color: green;
  :hover {
    color: yellowgreen;
    cursor: pointer;
  }
}

.icone-cancel-privacy {
  color: red;
  :hover {
    color: rgb(243, 99, 16);
    cursor: pointer;
  }
}

.icones-apagar-conta-privacy {
  font-size: 5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem;
}

// ids

#titulo-modal {
  margin: 1rem;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

#alerta-reset {
  padding: 0.8rem;
  font-size: 1rem;
  margin: 0.8rem;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (min-width: 700px) {
  .reset-account-modal {
    height: 70%;
    width: 50%;
  }

  .icones-apagar-conta-privacy {
    font-size: 7rem;
  }

  .icone-warning-privacy {
    font-size: 9rem;
  }

  #alerta-reset {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem;
    word-wrap: break-word;
    word-break: break-word;
  }
}
