.new-baseContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
}

.new-RDchoose {
    display: flex;
    align-items: center;
    gap: 1em;
}

.new-RDchoose p {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
}

.new-buttonRD {
    margin-top: auto;
    font-size: 3em;
    background-color: transparent;
    border-style: none;
    color: white;
    transition: .4s all;
}

.new-buttonRD:hover {
    cursor: pointer;
    font-size: 3.5em;
    transition: .4s all;
}