.colorDespesa {
    color: rgb(189, 0, 0);
}

.colorReceita {
    color: #007a04;
}

//Container base
#containerBaseNew-addTransactions {
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

//Container da tela Receita/Despesa
#recieve-addTransactions {
    background-color: #00455d;
    display: flex;
    flex-direction: column;
    padding: 4vh 2vw;
    border-radius: 10px;
    gap: 3vh;
}

//Cabeçalho do Formulário
#form_header-addTransactions {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form_header-addTransactions h1 {
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 2.5px;
}

//Div onde estão os inputs (textos, icones, box de valor)
#inputs-addTransactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

//Input para lidar com cada elemento em si, seus inputs, icone...
.input-box-addTransactions label {
    font-size: 0.9em;
    color: darkgray;
}

//Input direcionado aos valores em específico
.input-field-addTransactions {
    display: flex;
    align-items: center;
    justify-items: space-between;
    gap: 4vh;
    padding: 3px;
    cursor: text;

    border-bottom: transparent;
}

.input-field-addTransactions input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #00b4df;
    font-size: 0.9em;
    padding: 5px;
    color: white;
}

.input-field-addTransactions input::placeholder {
    color: white;
}

.input-field-addTransactions input:focus {
    outline: none;
}

//Icones
.transactionIcons {
    font-size: 1.8em;
    color: white;
}

//Select box
.list-addTransactions {
    width: 35vw;
    font-size: 1.6em;
    color: white;
    margin-bottom: auto;
}

.dropdown-category {
    z-index: 99;
}

.dropdown-bankAccount {
    z-index: 98;
}

//Texto do Toggle Button
.recebido-addTransactions {
    font-size: 1.8em;
    color: white;
}

//Toggle Button - Slider
.switch-addTransactions {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 20px;
}

.switch-addTransactions input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-addTransactions {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-addTransactions:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 11px;
    left: 1.5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.input-slider-addTransactions:checked+.slider-addTransactions {
    background-color: #00b4df;
}

.input-slider-addTransactions:focus+.slider-addTransactions {
    box-shadow: 0 0 1px #00b4df;
}

.input-slider-addTransactions:checked+.slider-addTransactions:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

.slider-addTransactions.round {
    border-radius: 34px;
}

.slider-addTransactions.round:before {
    border-radius: 50%;
}

//Botão "Salvar"
#save_button-addTransactions {
    border: none;
    background-color: #007a04;
    color: white;
    padding: 0.2em;
    border-radius: 10px;
    font-size: 0.9em;
    transition: 0.5s;
}

#save_button-addTransactions:hover {
    background-color: #005803;
    transition: 0.5s;
    cursor: pointer;
}

//Tratando responsividade
@media screen and (max-width: 700px) {
    #recieve-addTransactions {
        margin-bottom: 75px;
        padding: 8vh 6vw;
    }
}

@media screen and (max-width: 382px) {
    #recieve-addTransactions {
        padding: 8vh 6vw;
    }

    .input-field-addTransactions {
        gap: 3vh;
    }

    .input-field-addTransactions select {
        font-size: 1.6em;
    }

    .list-addTransactions {
        gap: 3.75vh;
        width: 16.5vw;
    }
}

@media screen and (max-height: 900px) {
    #recieve-addTransactions {
        padding: 8vh 6vw;
    }

    #form_header-addTransactions h1 {
        font-size: 4em;
    }

    .input-field-addTransactions {
        gap: 6vh;
    }

    .input-field-addTransactions input {
        font-size: 1.75em;
    }

    #inputs-addTransactions {
        gap: 3vh;
    }

    .list-addTransactions {
        gap: 3.75vh;
        width: 16.5vw;
    }

    #save_button-addTransactions {
        padding: 0.2em;
        border-radius: 10px;
        font-size: 1.75em;
    }
}

@media screen and (min-height: 901px) {
    #recieve-addTransactions {
        padding: 6vh 4vw;
        gap: 5vh;
    }

    #form_header-addTransactions h1 {
        font-size: 4em;
    }

    .input-field-addTransactions {
        gap: 5vh;
    }

    .input-field-addTransactions input {
        font-size: 1.75em;
    }

    #inputs-addTransactions {
        gap: 3vh;
    }

    .list-addTransactions {
        gap: 3.75vh;
        width: 16.5vw;
    }

    #save_button-addTransactions {
        padding: 0.2em;
        border-radius: 10px;
        font-size: 1.75em;
    }
}

@media screen and (max-height: 1000px) {
    #recieve-addTransactions {
        padding: 6vh 4vw;
        gap: 3vh;
    }

    #form_header-addTransactions h1 {
        font-size: 4em;
    }

    .input-field-addTransactions {
        gap: 4vh;
    }

    .input-field-addTransactions input {
        font-size: 1.75em;
        padding: 0px 5px;
    }

    #inputs-addTransactions {
        gap: 3vh;
    }

    .list-addTransactions {
        gap: 3.75vh;
        width: 16.5vw;
    }

    #save_button-addTransactions {
        padding: 0.2em;
        border-radius: 10px;
        font-size: 1.75em;
    }
}

@media screen and (min-height: 1080px) {
    .list-addTransactions {
        gap: 3.75vh;
        width: 16.5vw;
    }
}