.card-container {
  width: 100%;
  margin-left: 0%;
  padding: 10px;
  height: 60px;
  background-color: red;
  margin-top: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card-external-container {
  width: 100%;
  padding: 2px;
  height: 80px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.card-icon-desc {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ci {
  margin-inline: 10px;
}

.card-date {
  color: #b0b0b0;
}

.card-value {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.delete-edit-transaction {
  all: unset;
  font-size: 1rem;
  margin: 0 6px;
  transition: all 100ms;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--primary-color-darker);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.delete-edit-transaction:active {
  transform: scale(0.85);
}

.appear-on-hover {
  display: none;
}
.card-container:hover .appear-on-hover {
  display: block;
}

@media screen and (max-width: 700px) {
  .appear-on-hover {
    display: block;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleAnimation 500ms ease-in-out;
}
