.card-container {
  width: 100%;
  margin-left: 0%;
  padding: 10px;
  height: 70px;
  background-color: red;
  margin-top: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-external-container {
  width: 100%;
  padding: 2px;
  height: 90px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.card-icon-desc {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-description {
  position: relative;
  width: 30vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ci {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 10px;
  border-radius: 50%;
  background-color: var(--primary-color-darker);
}

.card-date {
  color: #b0b0b0;
}

.card-value {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.delete-edit-transaction {
  all: unset;
  font-size: 1rem;
  margin: 0 6px;
  transition: all 100ms;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--primary-color-darker);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.delete-edit-transaction:active {
  transform: scale(0.85);
}

.appear-on-hover {
  display: none;
}
.card-container:hover .appear-on-hover {
  display: block;
}

@media screen and (max-width: 700px) {
  .appear-on-hover {
    display: block;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleAnimation 500ms ease-in-out;
}

//confirmation dialog box

.delete-transaction-confirmation {
  background-color: var(--primary-color-darker);
  max-width: 340px;
  max-height: 320px;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
}

.delete-transaction-title {
  font-size: 1.7rem;
  padding: 1rem;
}

.delete-transaction-warn {
  font-weight: 100;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.74);
  letter-spacing: 1px;
  line-height: 150%;
  padding: 1rem;
}

.delete-transaction-buttons {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;

  button {
    all: unset;
    width: 70px;
    height: 30px;
    padding: 0.2rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 1.5rem;
    border-radius: 5px;
  }

  .delete-transaction-cancel {
    background-color: rgba(62, 190, 240, 0.616);
  }
}
