.nav-container {
  position: absolute;
  color: var(--secondary-color);

  a {
    all: unset;
  }

  justify-content: space-between;

  @media screen and (min-width: 700px) {
    bottom: auto;
    left: 0;
    top: 0;
    border-right: 2px solid var(--secondary-color);
    min-height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 700px) {
    bottom: 0;
    min-height: 70px;
    min-width: 95%;
    border-top: 2px solid var(--secondary-color);
    display: flex;
    flex-direction: row;
  }
}

.icon-calc {
  font-size: 55px;
  color: var(--secondary-color);
  position: fixed;
  left: 0px;
  top: 30px;

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.home,
.new,
.options {
  padding: 10px;
  font-size: 36px;

  :hover {
    cursor: pointer;
  }
}