.nav-container {
  position: fixed;
  color: var(--secondary-color);
  background-color: var(--primary-color-darker);
  justify-content: space-around;

  a {
    all: unset;
  }

  .elevated-button {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    box-shadow: 6px 6px 3px black;
    padding: 0.5rem;
    font-size: 3rem;
    cursor: pointer;
  }

  @media screen and (min-width: 700px) {
    bottom: auto;
    left: 0;
    top: 0;
    min-height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 700px) {
    bottom: 0;
    height: 60px;
    min-width: 100%;
    display: flex;
    flex-direction: row;

    .elevated-button {
      position: fixed;
      width: 4rem;
      height: 4rem;
      padding: 0.5rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.icon-calc {
  font-size: 55px;
  color: var(--secondary-color);
  position: fixed;
  z-index: 99;
  left: 0px;
  top: 30px;

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.home,
.new,
.options {
  padding: 10px;
  font-size: 36px;

  :hover {
    cursor: pointer;
  }
}

.nav-active-icon {
  color: inherit;
}

.nav-disable-icon {
  color: rgb(128, 128, 128, 1);
}

//add transaction options
.new-baseContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6em;
  left: 15rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

.new-RDchoose {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  p {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.877);
  }
}

.new-buttonRD {
  margin-top: auto;
  font-size: 3em;
  background-color: transparent;
  border-style: none;
  color: inherit;
  transition: 0.4s all;
  display: flex;
  align-items: center;
}

.new-buttonRD:hover {
  cursor: pointer;
  font-size: 3.5em;
  transition: 0.4s all;
}

.add-new-income {
  color: #00a006;
}

.add-new-expense {
  color: red;
}

@media screen and (min-width: 700px) {
}

@media screen and (max-width: 700px) {
  .new-baseContainer {
    display: flex;
    flex-direction: row-reverse;
    left: 50%;
    top: 70%;
  }

  .new-buttonRD {
    font-size: 2.5rem;
  }
  .new-buttonRD:hover {
    font-size: 3rem;
  }

  .new-RDchoose {
    display: flex;
    flex-direction: column;
  }
}
