// classes

.options-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        font-weight: 800px;
        font-size: 2rem;
    }
}

.option-card {
    background: #D9D9D9;
    display: flex;
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin: 0.5rem 0;
    

    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.privacy:hover {
    background: rgb(233, 158, 96);
}

.icone-privacy {
    font-size: 30px;
    color: white;
    margin-right: 0.5rem;
    margin-left: 0.7rem;
}

.minha-conta:hover {
    background-color: rgba(224, 158, 158, 0.954);
}

.minha-conta:active {
    background-color: rgba(224, 158, 158, 0.954);
}

.icone-minha-conta {
    font-size: 30px;
    color: white;
    margin-right: 0.5rem;
    background: rgba(215, 43, 135, 0.869);
    border-radius: 40%;
    margin-left: 0.7rem;
}

.moeda:hover {
    background: #c6e5a4d2;
}

.icone-moeda {
    font-size: 30px;
    color: white;
    margin-right: 0.5rem;
    background: green;
    border-radius: 100%;
    margin-left: 0.7rem;
}

.contas:hover {
    background-color: rgba(159, 149, 186, 0.897);
}

.icone-conta {
    font-size: 30px;
    color: black;
    border-radius: 30%;
    margin-left: 0.7rem;
    margin-right: 0.5rem;
    color: rgba(106, 81, 176, 0.504);
}

.categorias:hover {
    background-color: rgb(193, 154, 135);
}

.icone-categorias {
    font-size: 30px;
    color: black;
    border-radius: 100%;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    color: rgb(194, 60, 82);
}

.voltar:hover {
    background-color: rgba(158, 158, 158, 0.88);
}

.icone-voltar {
    font-size: 30px;
    color: black;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}

// media querys

@media screen and (max-width:800px) {
    .options-container {
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 2%;
        margin-bottom: 0%;
    }

    .option-card {
        height: 4rem;
    }
}

@media screen and (min-width:800px) {
    .options-container {
        margin-left: 3%;
        margin-right: 3%;
    }
}

