.balance-container {
  width: 86%;
  height: 260px;
  margin-left: 7%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 700px) {
    flex-direction: row;
    align-items: end;
    height: 210px;
  }

  .selector {
    position: absolute;
    top: 20px;
    left: 10%;
    z-index: 99;
  }

  @media screen and (max-width: 700px) {
    .selector {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 99;
    }

    .balance-title,
    .month-balance,
    .value {
      font-size: 20px;
    }

    .arrow-down,
    .arrow-up {
      font-size: 36px;
    }
  }
}

.balance-header {
  height: 80px;
}

.month-name {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.month-balance {
  width: 70%;
  height: 100px;
  font-size: 18px;
  padding: 10px;
}

.hide-values {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 26px;
  position: absolute;
  right: 10px;
  top: 10px;

  @media screen and (min-width: 700px) {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  :hover {
    cursor: pointer;
  }
}

.balance-title {
  font-size: 24px;
  text-align: center;
  padding: 6px;
}

.value {
  font-size: 24px;
  padding: 6px;
  text-align: center;
  font-weight: bold;
}

.income-expenses {
  width: 100%;
  position: relative;
  height: 100px;
  padding: 5px;
}

.income,
.expense {
  position: absolute;
  top: 0;
  bottom: 0;
}

.income {
  text-align: center;
  left: 0;
  /* position child1 at full left */
  width: 50%;
  /* set width of child1 to 50% */
  padding: 5px;

  .value {
    color: #00a006; //rgb(80, 225, 80);
  }
}

.expense {
  text-align: center;
  right: 0;
  /* position child2 at full right */
  width: 50%;
  /* set width of child2 to 50% */
  padding: 5px;

  .value {
    color: red;
  }
}

.arrow-up,
.arrow-down {
  font-size: 42px;
  padding: 5px;
}

.arrow-up {
  color: #00a006; //rgb(80, 225, 80);
}

.arrow-down {
  color: red;
}
