//classes

.container-categoria {
  display: flex;
  align-items: center;
}

.categoria-receitas {
}

//animações

.categoria-receitas:hover {
  background: green;
  transform: scale(1.012);

  .icone-receitas {
    color: white;
  }

  .icone-receita {
    color: white;
  }
}

.categoria-despesas:hover {
  background: rgba(201, 45, 6, 0.89);
  transform: scale(1.012);

  .icone-despesa {
    color: white;
  }
}

.voltar-categoria:hover {
  background: grey;
  transform: scale(1.012);

  .icone-voltar {
    color: rgb(83, 199, 16);
  }
}

.icone-receita {
  color: green;
  margin-left: 4px;
}

.icone-despesa {
  color: red;
  margin-left: 4px;
}

.icone-voltar {
  font: bold;
}

// modal cadastrar despesas

.w-100 {
  width: 100%;
}

.modal-nomeCategoria {
  background: var(--primary-color-darker);
  width: 500px;
  height: 300px;
  border-radius: 8px;
  padding: 1rem;
  margin: auto;

  @media screen and (max-width: 700px) {
    width: 80%;
  }
}

.categoria-modal-titulo {
  text-align: center;
  padding: 0.5rem;
}

.titulo-criar-categoria {
  font-size: 1.5rem;
}

.categoria-modal-section input {
  all: unset; // resetando todos os estilos
  width: 100%;
  padding: 2px;
  border-bottom: 2px solid var(--secondary-color);
}

.categoria-selecionar-icone {
  position: fixed;
}

.p-m-1 {
  padding: 1rem;
  margin: 0.5rem;
}

.categoria-modal-icones button {
  all: unset;
  height: 40px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid var(--secondary-color);
  width: 160px;
  padding: 0.2rem;
  text-align: center;
  cursor: pointer;

  @media screen and (max-width: 700px) {
    width: 120px;
  }
}

.categoria-modal-salvar {
}

.categoria-modal-salvar {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;

  button {
    all: unset;
    width: 70px;
    height: 30px;
    padding: 0.2rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 1.5rem;
    border-radius: 5px;
    background-color: rgba(62, 190, 240, 0.616);
  }
}

.hideIcons {
  display: none;
}
