//classes

.container-categoria {
    display: flex;
    align-items: center;
}

.categoria-receitas {}

//animações

.categoria-receitas:hover {
    background: green;
    transform: scale(1.012);
    
    .icone-receitas {
        color: white;
    }

    .icone-receita {
        color: white;
    }
}

.categoria-despesas:hover {
    background: rgba(201, 45, 6, 0.89);
    transform: scale(1.012);

    .icone-despesa {
        color: white;
    }
}

.voltar-categoria:hover {
    background: grey;
    transform: scale(1.012);

    .icone-voltar {
        color: rgb(83, 199, 16);
    }
}

//modais

.categoria-receita-modal {
    width: 80%;
    backdrop-filter: blur(600px);
    height: 50%;
    margin-bottom: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icone-salario {
    color: green;
}

.modal-salario:hover {
    background: rgb(191, 228, 136);
}

.icone-presente {
    color: rgb(197, 126, 44);
}

.modal-presente:hover {
    background: rgb(211, 195, 104);
    color: white;
}

.modal-beneficio:hover {
    background: rgb(119, 119, 185);
    color: white;
}

.icone-beneficio {
    color: rgb(54, 105, 216);
}

.icone-adicionar {
    color: crimson;
}

.modal-adicionar:hover {
    color: white;
    background: rgb(230, 113, 136);
}

.titulo {
    margin-bottom: 10%;
}

//media

@media screen and (min-width: 300px) {
    .categoria-receita-modal {
        margin-top: 60%;
        align-items: center;
        width: 80%;
        height: 80%;
        backdrop-filter: blur(5px);

    }
}

@media screen and (min-width: 700px) {
    .categoria-receita-modal {
        margin-top: 80%;
        align-items: center;
        width: 80%;
        height: 80%;
        backdrop-filter: blur(5px);
    }
}

@media screen and (min-height: 900px) {
    .categoria-receita-modal {
        margin-top: 60%;
        align-items: center;
        width: 80%;
        height: 80%;
        backdrop-filter: blur(5px);
    }
}

@media screen and (min-width: 1200px) {
    .categoria-receita-modal {
        margin-top: 70%;
        align-items: center;
        width: 80%;
        backdrop-filter: blur(5px);
    }
}

// icones

.icone-receita {
    color: green;
    margin-left: 4px;
}

.icone-despesa {
    color: red;
    margin-left: 4px;
}

.icone-voltar {
    font: bold;
}