.App {
  color: white;
  background-color: var(--primary-color);
  display: flex;
  min-height: 100dvh;
}

@media (max-width: 800px) {
  .App {
    flex-direction: column;
  }
}

.container {
  padding: 12px;
  background-color: var(--primary-color);
  width: 100%;
  margin-left: 0;

  @media screen and (min-width: 700px) {
    width: 90%;
    margin-left: 7%;
  }
}
