:root {
  --primary-color: #00202f;
  --logo-container: #00ffffe0;
  --secondary-color: #00ffffe0;

  --hover-color: #00b4df;
  --disabled-color: #007698;
}

/*azul escuro*/
.color1 {
  color: #00202f;
}

/*azul medio escuro*/
.color2 {
  color: #00455d;
}

/*azul medio*/
.color3 {
  color: #007698;
}

/*azul claro*/
.color4 {
  color: #00b4df;
}

/*ciano*/
.color5 {
  color: #00ffffe0;
}

/*azul escuro*/
.bg-1 {
  background-color: #00202f;
}

/*azul medio escuro*/
.bg-2 {
  background-color: #00455d;
}

/*azul medio*/
.bg-3 {
  background-color: #007698;
}

/*azul claro*/
.bg-4 {
  background-color: #00b4df;
}

/*ciano*/
.bg-5 {
  background-color: #00ffffe0;
}

@viewport {
  width: device-width;
  user-zoom: fixed;
  zoom: 1;
  min-zoom: 0.5;
  max-zoom: 4;
  orientation: portrait;
}

* {
  box-sizing: border-box;  
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}