.switch-addTransactions {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 20px;
}

.switch-addTransactions input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-addTransactions {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(189, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-addTransactions:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 11px;
    left: 1.5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.input-slider-addTransactions:checked+.slider-addTransactions {
    background-color: #00b4df;
}

.input-slider-addTransactions:focus+.slider-addTransactions {
    box-shadow: 0 0 1px #00b4df;
}

.input-slider-addTransactions:checked+.slider-addTransactions:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

.slider-addTransactions.round {
    border-radius: 34px;
}

.slider-addTransactions.round:before {
    border-radius: 50%;
}